// Primary color

$color-C1-A:#151515;
$color-C1-B:#575757;
$color-C1-C:#A9A9A9;
$color-C1-D:#D1D1D1;
$color-C1-E:#EBEBEB;
$color-C1-F:#F5F5F5;
$color-C1-H:#F9F9F9;
$color-white:#FFFFFF;

// Secondary color

$color-C2-A:#6A983C;
$color-C2-B:#46760A;
$color-C2-C:#92C064;
$color-C2-D:#C8DEB3;
$color-C2-E:#F4F8EC;

$none-distance: 0px;
$single-distance: 16px;
$double-distance: 32px;
$triple-distance: 45px;