@import "../config/mixin.scss";
@import "../config/variables.scss";

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .row-nav-bar {
        @extend %flexibility;
        height: 48px;
        padding: $none-distance $triple-distance $none-distance $triple-distance;
        p {
            font-family: 'Open Sans';
            font-size: 12px;
            line-height: 16px;
            color: $color-C2-A;
            cursor: pointer;
        }
        .start {
            display: flex;
            width: 36%;
            justify-content: space-between;
        }
        .end {
            display: flex;
            width: 20%;
            justify-content: space-between;
        }
    }
    hr {
        opacity: 0.05;
        border: 1px solid $color-C1-A;
        width: 95%;
        margin: auto;
    }
    .row-main {
        @extend %flexibility;
        height: 146px;
        padding: $none-distance $triple-distance $none-distance $triple-distance;
        .icons {
            display: flex;
            width: 8%;
            justify-content: space-between;
            .icon-busket{
                background: url(../assets/images/ic-ecommerce-basket.svg) 100% 0% no-repeat;
                position: relative;
                width: 33px;
                cursor: pointer;
                img {
                    position: relative;
                    bottom: -11px;
                }
                p {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    color: $color-white;
                    position: absolute;
                    bottom: 0.5px;
                    left: 24%;
                }
                .one {
                    left: 29%;
                }
                .more-than-nine {
                    left: 19%;
                    font-size: 10px;
                }
            }
            img {
                cursor: pointer;
                height: 24px;
            }
        }
        form {
            @extend %flexibility;
            background: $color-C1-H;
            border-radius: 12px;
            border: 1px solid $color-C1-D;
            height: 42px;
            width: 45%;
            min-width: 305px;
            padding: $none-distance $single-distance;
            select {
                @extend %select;
                width: 40%;
                min-width: 115px;
                font-size: 15px;
                line-height: 22px;
                background: url(../assets/images/ic-chevron-down.svg) no-repeat right $color-C1-A;
            }
            hr {
                @extend %hr-rotated;
            }
            input[type=text] {
                @extend %input;
                width: 262px;
            }
        }
    }
    .row-ctg {
        @extend %flexibility;
        height: 55px;
        background: $color-C1-H;
        padding: $none-distance $triple-distance $none-distance $triple-distance;
        font-family: Poppins;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        p {
            cursor: pointer;
        }
    }
    .row-way {
        padding: $single-distance $triple-distance;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 16px;
        p {
            cursor: pointer;
        }
        span {
            color: $color-C1-C;
        }
    }
}