.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .row-1 {
        margin: $none-distance $triple-distance;
        border-bottom: 1px solid $color-C1-A-with-opacity;
        .nav-bar {
            @extend %flexibility;
            padding: $single-distance $none-distance;
            a, p {
                font-family: 'Open Sans';
                font-size: 12px;
                line-height: 16px;
                color: $color-C2-A;
            }
            .start {
                display: flex;
                width: 36%;
                justify-content: space-between;
            }
            .end {
                display: flex;
                width: 20%;
                justify-content: space-between;
            }
        }
    }
    .row-2{
        margin: $none-distance $triple-distance;
        .main {
            @extend %flexibility;
            padding: 56px $none-distance;
            .icons {
                display: flex;
                width: 8%;
                justify-content: space-between;
                .icon-busket{
                    background: url(../assets/images/ic-ecommerce-basket.svg) 100% 0% no-repeat;
                    position: relative;
                    width: 33px;
                    cursor: pointer;
                    img {
                        position: relative;
                        bottom: -11px;
                    }
                    .normal {
                        left: 24%;
                        font-size: 12px;
                    }
                    p {
                        font-weight: 600;
                        line-height: 18px;
                        color: $color-white;
                        position: absolute;
                        bottom: 0.5px;
                    }
                }
                img {
                    cursor: pointer;
                    height: 24px;
                }
            }
            form {
                @extend %flexibility;
                background: $color-C1-H;
                border-radius: 12px;
                border: 1px solid $color-C1-D;
                height: 42px;
                width: 45%;
                min-width: 305px;
                padding: $none-distance $single-distance;
                select {
                    @extend %select;
                    width: 40%;
                    min-width: 115px;
                    font-size: 15px;
                    line-height: 22px;
                    background: url(../assets/images/ic-chevron-down.svg) no-repeat right $color-C1-H;
                }
                hr {
                    @extend %hr-rotated;
                }
                input[type=text] {
                    @extend %input;
                    width: 55%;
                    min-width: 150px;
                }
            }
        }
    }
    .row-3 {
        padding: $none-distance $triple-distance;
        background: $color-C1-H;
        .ctg {
            @extend %flexibility;
            padding: $single-distance $none-distance;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            a {
                color: $color-C1-A;
            }
        }
    }
    .row-4 {
        margin: $none-distance $triple-distance;
        .way {
            padding: $single-distance $none-distance;
            font-size: 12px;
            line-height: 16px;
            a {
                font-family: 'Open Sans';
                color: $color-C1-C;
            }
            span {
                font-family: 'Open Sans';
            }
        }
    }
}