@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url("../assets/fonts/OpenSans-Regular.ttf") format('truetype');
}