@import "fonts.scss";
@import "config/mixin.scss";
@import "globals/header.scss";
@import "globals/footer.scss";
@import "globals/modal.scss";
@import "config/variables.scss";
@import "utilities.scss";
@import "objects.scss";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}


.container {
    .main-body {
        .product {
            padding: $single-distance $none-distance $none-distance 42.5px;
            display: flex;
            .pictures {
                .offers {
                    padding-right: $double-distance;
                    display: flex;
                    align-items: flex-start;
                    position: absolute;
                    z-index: 3;
                    top: $single-distance;
                    left: $single-distance;
                    cursor: default;
                    .offer-discount {
                        @extend %offer;
                        margin-right: $single-distance;
                    }
                    .offer-delivery {
                        @extend %offer;
                    }
                }
                .picture-offer {
                    position: relative;
                    img {
                        padding: $none-distance $double-distance $single-distance $none-distance;
                        width: 569px;
                        height: 437px;
                    }
                }
                .picture {
                    img {
                        padding: $none-distance $double-distance $single-distance $none-distance;
                        width: 569px;
                        height: 437px;
                    }
                }
            }
            .product-info {
                padding-right: 47.17px;
                h1 {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 140%;
                    color: #151515;
                }
                .rating {
                    display: flex;
                    align-items: center;
                    .stars {
                        display: flex;
                    }
                    p {
                        margin-left: 9.26px;
                        font-family: 'Open Sans';
                        font-size: 12px;
                        line-height: 16px;
                        text-decoration: underline;
                        color: $color-C1-C;
                    }
                }
                .description {
                    padding: 30px $none-distance;
                    width: 92%;
                    p {
                        font-size: 17px;
                        line-height: 23px;
                    }
                }
                .row-structured {
                    display: flex;
                    p {
                        font-size: 14px;
                        line-height: 19px;
                        padding: 8px 5px;
                    }
                    .col-key {
                        color: $color-C1-C;
                    }
                    .col-4-1 {
                        display: flex;
                        .col-value {
                            p {
                                padding-right: 35px;
                            }
                            .in-stock {
                                color: $color-C2-A;
                            }
                            .category {
                                text-decoration: underline;
                            }
                        }
                    }
                    .col-4-2 {
                        display: flex;
                        p {
                            padding-right: $none-distance;
                        }
                    }
                }
                .box-add {
                    border: 1px solid $color-C1-F;
                    border-radius: 12px;
                    width: 80%;
                    min-width: 370px;
                    margin: 20px $none-distance;
                    height: 89px;
                    @extend %flexibility;
                    .price {
                        @extend %price-new-old;
                        padding: 16px;
                        .new-price {
                            font-size: 26px;
                            line-height: 39px;
                        }
                    }
                    .quantity {
                        width: 22%;
                        min-width: 95px;
                        .form-add-quantity {
                            @extend %form-add-quantity;
                            input[type=text] {
                                padding: $single-distance $none-distance $single-distance $single-distance;
                                width: 25%;
                            }
                            hr {
                                margin: auto 0;
                            }
                        }
                    }
                    .button-add {
                        margin-right: 24px;
                        button {
                            @extend %button-green;
                            width: 140px;
                            img {
                                margin-right: 6px;
                            }
                        }
                    }
                }
                .row-buttons {
                    display: flex;
                    .add-to-my-wishlist {
                        @extend %button-row-buttons;
                        width: 191px;
                        height: 35px;
                        margin-right: $single-distance;
                    }
                    .compare {
                        @extend %button-row-buttons;
                        height: 35px;
                        width: 119px;
                    }
                }
                .tab {
                    margin-top: 62px;
                    .tab-all-headers {
                        @extend %flexibility;
                        width: 95%;
                        .tab-header {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            h2 {
                                font-size: 18px;
                                line-height: 27px;
                                font-weight: 600;
                            }
                            p {
                                @extend %offer;
                                color:$color-C2-A;
                                margin-left: 8px;
                            }
                        }
                    }
                    .line {
                        padding: $single-distance $none-distance;
                        .line-grey {
                            position: relative;
                            hr {
                                border: 1px solid $color-C1-F;
                            }
                            .line-green {
                                position: absolute;
                                width: 30%;
                                left: 0%;
                                bottom: $none-distance;
                                transition: all 1s cubic-bezier(0.570, 0.005, 0.610, 0.875);
                                hr {
                                    border: 1px solid $color-C2-A;
                                }
                            }
                            .tab-1 {
                                left: 0%; 
                                width: 30%;
                            }
                            .tab-2 {
                                left: 27%; 
                                width: 34%;
                            }
                            .tab-3 {
                                left: 66%; 
                                width: 34%;
                            }
                        }
                    }
                    .tab-all-bodies {
                        position: relative;
                        .tab-body {
                            position: absolute;
                            display: none;
                        }
                        .active {
                            display: block;
                        }
                        h4 {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 22px;
                            padding: $double-distance $none-distance 8px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 19px;
                            font-family: 'Open Sans';
                        }
                        table {
                            margin-top: $single-distance;
                            width: 90%;
                            border-collapse: collapse;
                            th {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 18px;
                                text-align: start;
                                border-bottom: 1px solid $color-C1-E;
                                padding-bottom: 7px;
                                width: 33.3%;
                            }
                            td {
                                font-size: 14px;
                                line-height: 19px;
                                font-family: 'Open Sans';
                                color: $color-C1-B;
                                padding: 11px 34px 10px 0px;
                            }
                            .color-C1-I {
                                background: #FDFDFD;
                            }
                        }
                    }
                }
            }
        }
        .cards-related-products {
            padding: 70px $triple-distance;
            .cards-title {
                @extend %flexibility;
                p {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                    color: $color-C1-A;
                }
                .title-right {
                    display: flex;
                    cursor: pointer;
                    p {
                        margin-right: 6px;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 22px;
                        color: $color-C1-A;
                    }
                }
            }
            .cards-4 {
                @extend %flexibility;
                flex-wrap: wrap;
                margin-top: $triple-distance;
                align-items: flex-start;
                .card {
                    @extend %product-card;
                }
                .price-button {
                    @extend %price-label;
                    button {
                        @extend %button-little;
                    }
                }
                .card-with-discount {
                    @extend %product-card-with-discount;
                    .price-button {
                        @extend %price-label;
                        .old-price {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 18px;
                            color: $color-C1-C;
                            text-decoration-line: line-through;
                        }
                        button {
                            @extend %button-little;
                        }
                    }
                }
            }
        }
    }
}

// @media only screen and (max-width : 600px) {

// }

// @media only screen and (max-width : 1024px) {

// }